.wrapper {
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-3);
}

.wrapper:not(:last-of-type) {
  border-bottom: solid 1px var(--global-border);
}

.content {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  min-width: 0;
}

.bookMarkIcon {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  color: var(--overlay-50);
}

.info {
  display: flex;
  gap: var(--spacing-1half);
  align-items: center;
  min-width: 0;
}

.name {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-size-4);
  line-height: 1;
  color: var(--global-foreground);
  white-space: nowrap;
}

.lockIcon {
  flex-shrink: 0;
  width: 0.625rem;
  height: 0.625rem;
  color: var(--overlay-50);
}

.createdAt {
  flex-shrink: 0;
  font-size: var(--font-size-2);
  line-height: 1;
  color: var(--overlay-50);
}
