save-exact=true
minimum-release-age-exclude[]=@electric-sql/pglite
minimum-release-age-exclude[]=glob
minimum-release-age-exclude[]=next
minimum-release-age-exclude[]=@next/env
minimum-release-age-exclude[]=@next/swc-darwin-arm64
minimum-release-age-exclude[]=@next/swc-darwin-x64
minimum-release-age-exclude[]=@next/swc-linux-arm64-gnu
minimum-release-age-exclude[]=@next/swc-linux-arm64-musl
minimum-release-age-exclude[]=@next/swc-linux-x64-gnu
minimum-release-age-exclude[]=@next/swc-linux-x64-musl
minimum-release-age-exclude[]=@next/swc-win32-arm64-msvc
minimum-release-age-exclude[]=@next/swc-win32-ia32-msvc
minimum-release-age-exclude[]=@next/swc-win32-x64-msvc
