@import './fonts.css';
@import url('destyle.css');
@import './Dark/variables.css';
@import './Mode 1/variables.css';
@import './variables.css';
@import './icons/lucide.css';
@import './syntax-highlight.css';

/* Global scrollbar styling for all scrollable elements */

/* For browsers that support `scrollbar-*` properties */
@supports (scrollbar-color: auto) {
  * {
    scrollbar-color: var(--scrollbar-thumb-background)
      var(--scrollbar-track-background);
    scrollbar-width: var(--scrollbar-width);
  }
}

/* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements */
/* If a browser supports both, the `scrollbar-*` properties will take precedence */
@supports selector(::-webkit-scrollbar) {
  *::-webkit-scrollbar {
    width: var(--scrollbar-webkit-width);
    height: var(--scrollbar-webkit-height);
  }

  *::-webkit-scrollbar-track {
    background: var(--scrollbar-track-background);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-background);
    border-radius: var(--scrollbar-webkit-thumb-border-radius);
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-background-hover);
  }
}
