.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--spacing-10);
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  align-items: center;
}

.emptyIllustration {
  width: 200px;
  height: 100px;
}

.emptyDescription {
  font-size: var(--font-size-4, 13px);
  line-height: 1.6;
  color: var(--global-mute-text);
}
