.item {
  display: flex;
  padding: var(--spacing-3);
  align-items: center;
  line-height: 16px;
  border-radius: var(--border-radius-base);
}

.item.indent {
  padding-left: var(--spacing-6);
  position: relative;
}

.item.indent:before {
  content: '';
  position: absolute;
  top: 0;
  left: var(--spacing-4);
  width: 1px;
  height: 100%;
  background-color: var(--overlay-10);
}

.item .itemText {
  display: inline-block;
  flex-grow: 1;
  font-size: var(--font-size-5);
  text-wrap: wrap;
  word-break: break-word;
}

.item .itemIcon {
  flex-shrink: 0;
  margin-right: var(--spacing-2);
  width: 16px;
  height: 16px;
  color: var(--overlay-40);
}

.item .keyIcon {
  display: inline-flex;
  height: 21px;
  width: 21px;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-2);
  color: var(--global-mute-text);
  background-color: var(--overlay-5);
}

.item .keyIcon + .keyIcon {
  margin-left: var(--spacing-1);
}

.item[data-selected='true'] /* when setting the styles.item class to the Command.Item component */,
[data-selected='true']
  .item /* when setting the styles.item class on the children of the Command.Item component */ {
  background: var(--overlay-5);
}

.item[data-selected='true'] .itemIcon,
[data-selected='true'] .item .itemIcon {
  color: var(--global-foreground);
}
