.tableName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  flex: 1;
}

.button {
  cursor: pointer;
}

.icon {
  width: 12px;
  height: 12px;
}

.active {
  background: linear-gradient(
      0deg,
      var(--primary-accent-overlay) 0%,
      var(--primary-accent-overlay) 100%
    ), var(--pane-background-active);
}

.contextMenuTrigger {
  display: flex;
  align-items: center;
  width: 100%;
}

.contextMenuCotent {
  min-width: 280px;
  background-color: var(--global-background);
  gap: var(--spacing-half);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  padding: var(--spacing-1);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 40%);
}

.contextMenuItem {
  gap: var(--spacing-half);
  padding: var(--border-radius-lg);
  color: var(--global-foreground);
  border-radius: var(--border-radius-base);
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: var(--font-size-3);
}
