.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  width: 100%;
}

.heading {
  margin-bottom: var(--spacing-4);
  font-size: var(--font-size-3);
  font-weight: 500;
  color: var(--global-foreground);
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-white-alpha-5);
  border: 1px solid var(--global-border);
  border-radius: var(--border-radius-md);
}

.dangerCard {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-red-alpha-10);
  border: 1px solid var(--color-red-alpha-20);
  border-radius: var(--border-radius-md);
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-5);
}

.rowContainer {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-8);
  align-items: flex-start;
}

.cardHeader {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  width: 200px;
}

.cardTitle {
  margin: 0;
  font-size: var(--font-size-4);
  font-weight: 500;
  color: var(--global-foreground);
}

.inputContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: var(--spacing-2);
}

.input {
  width: 100%;
}

.helperText {
  margin: 0;
  font-size: var(--font-size-2);
  color: var(--global-mute-text);
}

.errorText {
  margin: 4px 0 0;
  font-size: var(--font-size-2);
  color: var(--color-red-500);
}

.successText {
  margin: 4px 0 0;
  font-size: var(--font-size-2);
  color: var(--primary-color);
}

.dangerText {
  margin: 0;
  font-size: var(--font-size-4);
  color: var(--color-red-milk-200);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--global-border);
}

.dangerDivider {
  width: 100%;
  height: 1px;
  background-color: var(--color-red-alpha-20);
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--spacing-4) var(--spacing-5);
}
