.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  width: 100%;
}

.avatarContainer {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-1);
  align-items: center;
  min-height: 24px;
  padding: 0;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.messagesWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  align-items: stretch;
  width: 100%;
  max-width: 100%;
}

.responseMessageWrapper {
  display: flex;
  flex-direction: column;
}

.markdownWrapper {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-4);
  line-height: 1.6;
  color: var(--global-body-text);
}
