.container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.inputContainer {
  display: flex;
  width: 100%;
  margin-left: var(--spacing-2);
}

.inputWithSuggestion {
  position: relative;
  width: 100%;
}

.input {
  position: relative;
  padding: var(--spacing-2) 0;
  width: 100%;
  border-radius: var(--border-radius-smbase);
  z-index: 1;
}

.input:focus-visible {
  outline: none;
}

.modePrefix {
  flex-shrink: 0;
  margin-right: var(--spacing-1);
  padding: var(--spacing-2) 0;
  max-width: 220px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.modePrefixSeparator {
  flex-shrink: 0;
  margin-right: var(--spacing-1);
  padding: var(--spacing-2) 0;
}

.suggestion {
  position: absolute;
  top: 0;
  padding: var(--spacing-2) 0;
  max-width: 100%;
  overflow-x: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  color: var(--overlay-60);
}

.suggestion .inputValue {
  color: transparent;
}

.suggestion .completionSuffix {
  text-wrap: nowrap;
}

.searchIcon {
  width: 16px;
  height: 16px;
  color: var(--overlay-60);
}
