.newSessionButton {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  column-gap: var(--spacing-2half);
  color: var(--button-primary-foreground);
  background-color: var(--button-primary-background);
  border: var(--border-width-base) solid var(--button-primary-background);
}

.newSessionButton:hover {
  background-color: var(--button-primary-background-hover);
  border-color: var(--button-primary-background-hover);
}

.newSessionButton .icon {
  color: var(--button-primary-foreground);
}

.iconContainer {
  display: flex;
}

:global([data-global-nav-container]):hover .newSessionButton .iconContainer,
:global([data-global-nav-container]):has(
    [data-radix-menu-content][data-state='open']
  )
  .newSessionButton
  .iconContainer {
  display: none;
}

.labelArea {
  display: none;
  justify-content: center;
}

:global([data-global-nav-container]):hover .newSessionButton .labelArea,
:global([data-global-nav-container]):has(
    [data-radix-menu-content][data-state='open']
  )
  .newSessionButton
  .labelArea {
  display: flex;
  justify-content: center;
}

.label {
  text-align: center;
}
