.newSessionButton {
  color: var(--button-primary-foreground);
  background-color: var(--button-primary-background);
  border: var(--border-width-base) solid var(--button-primary-background);
}

.newSessionButton:hover {
  background-color: var(--button-primary-background-hover);
  border-color: var(--button-primary-background-hover);
}

.newSessionButton .icon {
  color: var(--button-primary-foreground);
}
