.fileIcon {
  position: relative;
  z-index: 1;
  width: 134px;
  height: 119px;
  color: var(--overlay-40);
  transition: opacity var(--default-animation-duration)
    var(--default-timing-function);
}

.fileIconHovered {
  color: var(--overlay-60);
  opacity: 1;
}

/* Back files animation */
.fileBackLeft {
  transform: rotate(-10deg) translateX(8px) translateY(7px);
  transform-origin: center bottom;
  transition: all var(--default-animation-duration)
    var(--default-timing-function);
}

.fileBackRight {
  transform: rotate(10deg) translateX(-8px) translateY(7px);
  transform-origin: center bottom;
  transition: all var(--default-animation-duration)
    var(--default-timing-function);
}

.fileBackLeftHover {
  opacity: 0;
  transform: rotate(0deg) translateX(8px) translateY(7px);
}

.fileBackRightHover {
  opacity: 0;
  transform: rotate(0deg) translateX(-8px) translateY(7px);
}
