/* Menu open state specific to CommonLayout */
.globalNav:has([data-radix-menu-content][data-state='open']) {
  width: 11rem;
  box-shadow: 4px 0 16px rgba(0, 0, 0, 0.2);
}

.liamMigrationLogo {
  width: 4.23125rem;
  height: 0.7875rem;
}
