.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  min-height: 0;
}

.body {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--spacing-8);
  padding: var(--spacing-4) var(--spacing-6);
  background: var(--global-background);
  color: var(--global-foreground);
  overflow-y: scroll;
}

.tabsRoot {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  min-height: 0;
  height: 460px;
  padding: var(--spacing-3);
  border-radius: var(--border-radius-base);
  background: var(--pane-background);
  border: var(--border-width-base) solid var(--global-border);
}

.tabsList {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.tabsTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.75rem;
  padding: 0 var(--spacing-2);
  border-radius: var(--border-radius-base);
  font-size: var(--font-size-4);
  border: solid 1px var(--pane-border);
}

.tabsTrigger[data-state='active'] {
  background-color: var(--button-background-active);
}

.tabsTrigger:hover {
  background-color: var(--button-background-hover);
}

.tabsContent {
  min-height: 0;
  overflow-y: scroll;
}
