.card {
  overflow: hidden;
}

.cardContent {
}

.rowContainer {
  display: flex;
  align-items: flex-start;
}

.cardHeader {
  flex: 0 0 200px;
}

.cardTitle {
  margin: 0;
  font-size: var(--font-size-6);
}

.inputContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.label {
  font-size: var(--font-size-5);
}

.input {
  width: 100%;
}

.helperText {
  margin: 0;
  font-size: var(--font-size-5);
}

.divider {
  height: 1px;
}

.cardFooter {
  display: flex;
  justify-content: flex-end;
}
