.card {
  overflow: hidden;
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-primary);
  border-radius: var(--radius-md);
}

.cardContent {
  padding: var(--spacing-3xl);
}

.rowContainer {
  display: flex;
  gap: var(--spacing-5xl);
  align-items: flex-start;
}

.cardHeader {
  flex: 0 0 200px;
}

.cardTitle {
  margin: 0;
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
}

.inputContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-md);
}

.label {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-primary);
}

.input {
  width: 100%;
}

.helperText {
  margin: 0;
  font-size: var(--font-size-5);
  color: var(--color-text-secondary);
}

.divider {
  height: 1px;
  background-color: var(--color-border-primary);
}

.cardFooter {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing-xl) var(--spacing-3xl);
}
