.trigger {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
}

.trigger .text {
  font-size: var(--font-size-5);
  color: var(--overlay-70);
}

.trigger .icon {
  width: 1rem;
  height: 1rem;
  color: var(--overlay-70);
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.trigger[data-state='open'] .icon {
  transform: rotate(-180deg);
}

.content {
  width: 400px;
  max-width: 90vw;
  max-height: 50vh;
  padding: var(--spacing-4) var(--spacing-5);
  background-color: rgba(20, 22, 22, 0.75);
  backdrop-filter: blur(8px);
  overflow-y: scroll;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 40%);
}

.list {
  position: relative;
}

.list::before {
  position: absolute;
  top: 28px;
  bottom: 0;
  left: 0;
  width: 1px;
  content: '';
  background: var(--overlay-10);
}

.item.level2 {
  padding-left: var(--spacing-4);
}

.item.level3 {
  padding-left: var(--spacing-7);
}

.item.level4 {
  padding-left: var(--spacing-10);
}

.item.level5 {
  padding-left: var(--spacing-13);
}

.button {
  padding: var(--spacing-1half) 0;
  font-size: var(--font-size-5);
  font-weight: 400;
  color: var(--global-mute-text);
  transition:
    color var(--default-hover-animation-duration) var(--default-timing-function),
    font-weight var(--default-hover-animation-duration)
    var(--default-timing-function);
}

.button:hover {
  color: var(--global-foreground);
}

.button.active {
  color: var(--global-foreground);
  font-weight: 500;
}
