.wrapper {
  padding: var(--spacing-1) var(--spacing-3);
}

.container {
  padding: var(--spacing-4);
  background-color: var(--pane-background);
  border: solid 1px var(--pane-border);
  border-radius: var(--border-radius-md);
}

.content {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--spacing-4);
  place-items: flex-start;
}

.badge {
  display: inline-flex;
  gap: var(--spacing-1);
  align-items: center;
  padding: var(--spacing-1) var(--spacing-2);
  font-family: var(--main-font);
  font-size: var(--font-size-2);
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  border: 1px solid;
  border-radius: var(--border-radius-base);
}

.high {
  color: var(--severity-critical-100);
  background-color: var(--severity-critical-5);
  border-color: var(--severity-critical-40);
}

.medium {
  color: var(--severity-warning-100);
  background-color: var(--severity-warning-5);
  border-color: var(--severity-warning-40);
}

.low {
  color: var(--severity-positive-100);
  background-color: var(--severity-positive-5);
  border-color: var(--severity-positive-40);
}

.text {
  box-sizing: border-box;
  font-size: var(--font-size-5);
  word-wrap: break-word;
  white-space: pre-wrap;
}
