.layout {
  display: flex;
  height: 100vh;
  color: var(--global-foreground);
  background-color: var(--global-background);
}

.mainContent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: calc(
    100% -
    var(--layout-app-bar-height)
  ); /* Subtract AppBar height */
  padding: 0;
  overflow: auto;
}
