.sendButton {
  min-width: 20px;
  min-height: 20px;
  padding: var(--spacing-1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-width-base) solid transparent;
  border-radius: var(--border-radius-base);
  background-color: var(--primary-overlay-40);
  transition: background-color 0.3s var(--default-timing-function);
}

.sendButton:hover {
  background-color: var(--primary-accent) !important;
}

.sendButton:disabled:hover {
  background-color: transparent !important;
}

.sendButton:disabled {
  background-color: transparent !important;
}

.sendButton svg {
  color: var(--primary-accent) !important;
  transition: color var(--default-hover-animation-duration)
    var(--default-timing-function);
}

.sendButton:hover svg {
  color: var(--button-foreground) !important;
}

.sendButton:disabled svg {
  color: var(--overlay-50) !important;
  transition: color var(--default-hover-animation-duration)
    var(--default-timing-function);
}
