.container {
  height: 386px;
  width: 271px;
  background-color: var(--global-background);
  border-radius: var(--border-radius-lg-plus);
}

.tableNodeWrapper {
  padding: var(--spacing-10) var(--spacing-9);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
}

.image,
.video {
  height: 100%;
  width: 100%;
}
