.filterItem {
  width: 100%;
  margin-bottom: var(--spacing-2);
}

.chevronIcon {
  width: 0.75rem;
  height: 0.75rem;
  color: var(--overlay-70);
  margin-left: auto;
}

.dropdownContent {
  width: 15rem;
}
