.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 0 var(--spacing-half);
  margin-left: var(--spacing-1);
  font-size: var(--font-size-2);
  font-weight: 600;
  line-height: 1;
  color: white;
  border-radius: 10px;
}

/* Using the color scheme from the Figma design */

.default {
  color: var(--overlay-70);
  background-color: var(--overlay-10);
}

.yellow {
  color: var(--callout-warning-text);
  background-color: var(--color-gold-alpha-20);
}

.green {
  color: var(--primary-accent);
  background-color: var(--callout-success-background);
}

.purple {
  color: var(--primary-accent);
  background-color: var(--color-purple-alpha-20);
}
