.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.columns {
  width: 100%;
  height: 100%;
}

.outputSection {
  height: 100%;
  min-height: 0;
  overflow: hidden;
  border-left: solid 1px var(--pane-border);
}

.chatSection {
  height: 100%;
  min-height: 0;
}

.columns[data-layout='one-column'] .chatSection {
  display: flex;
  justify-content: center;
}

.chatWrapper {
  width: auto;
  height: 100%;
}

.columns[data-layout='one-column'] .chatWrapper {
  width: 46rem;
}
