.container {
  width: 100%;
  height: 100%;
}

.columns {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}

.chatSection {
  width: 23rem;
  border-right: solid 1px var(--pane-border);
  height: 100%;
  overflow: hidden;
}

.outputSection {
  min-height: 0;
}
