.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.columns {
  display: grid;
  width: 100%;
  height: 100%;
  transition: grid-template-columns var(--default-animation-duration)
    var(--default-timing-function);
}

.oneColumn {
  grid-template-columns: 46rem 0fr;
  justify-content: center;
}

.twoColumns {
  grid-template-columns: 23rem 1fr;
}

.outputSection {
  min-height: 0;
  border-left: solid 1px var(--pane-border);
  overflow: hidden;
}

.chatSection {
  min-height: 0;
  overflow-y: scroll;
}
