.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--layout-app-bar-height);
  padding: var(--spacing-3) var(--spacing-3half) var(--spacing-3)
    var(--spacing-2);
  background-color: var(--global-muted-background);
  border-bottom: 1px solid var(--pane-border);
  border-radius: var(--border-radius-base);
}

.leftSection {
  display: flex;
  flex: 1;
  gap: var(--spacing-2);
  align-items: center;
}

.rightSection {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  margin-left: auto;
}
