.modalContent {
  width: 400px;
  padding: var(--spacing-5);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin: var(--spacing-5) 0;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  width: 100%;
}

.errorMessage {
  margin-top: var(--spacing-2);
  font-size: var(--font-size-3);
  color: var(--danger-default);
}

.successMessage {
  margin-top: var(--spacing-2);
  font-size: var(--font-size-3);
  color: var(--primary-accent);
}
