/* Custom styles specific to PublicGlobalNav */
.customPublicGlobalNavContainer {
  /* Any custom container styles for public view */
}

.customPublicGlobalNav {
  /* Any custom nav styles for public view */
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.labelArea {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.liamMigrationLogo {
  width: 4.23125rem;
  height: 0.7875rem;
}
