.globalNavContainer {
  position: relative;
  min-width: 3.25rem;
}

.globalNav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 3.25rem;
  height: 100%;
  overflow: hidden;
  background-color: var(--pane-background);
  border-right: 1px solid var(--pane-border);
  box-shadow: none;
  transition: width 0.1s var(--default-timing-function);
}

:not([data-disable-hover]) > .globalNav:hover {
  width: 11rem;
  box-shadow: 4px 0 16px rgba(0, 0, 0, 0.2);
}

.logoContainer {
  padding: var(--spacing-2);
}

.logoSection {
  display: flex;
  gap: var(--spacing-1);
  align-items: center;
  justify-content: flex-start;
  padding: var(--spacing-1half, 0.375rem) var(--spacing-2, 0.5rem);
}

.navSection {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 8px;
  padding: var(--spacing-1, 0.25rem) var(--spacing-2, 0.5rem);
}

.footerSection {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-1, 0.25rem) var(--spacing-2, 0.5rem)
    var(--spacing-2, 0.5rem);
  margin-top: auto;
}
