.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5, 20px);
}

.panel {
  background-color: var(--global-background);
  border: 1px solid var(--global-border);
  border-radius: var(--border-radius-md);
}

.panelContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6, 24px);
  height: 500px;
  padding: var(--spacing-10, 40px);
  overflow-y: auto;
}
