.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5, 20px);
}

.panel {
  border: 1px solid var(--global-border);
  border-radius: var(--border-radius-md);
  background-color: var(--global-background);
}

.panelContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6, 24px);
  padding: var(--spacing-10, 40px);
  height: 610px;
}

.loading {
  margin: auto;
  color: var(--global-mute-text);
  font-size: var(--font-size-4, 13px);
}
