.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20, 80px);
  align-items: center;
  height: 100%;
  padding: var(--spacing-20, 80px) var(--spacing-4, 16px);
  font-family: var(--main-font);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-7, 28px);
  width: 100%;
  max-width: 1080px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-7, 28px);
}

.title {
  margin: 0;
  font-size: var(--font-size-8, 20px);
  font-weight: 500;
  line-height: 1;
  color: var(--global-foreground);
}

.stepperSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
}

.buttons {
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
}

.backLink {
  display: inline-flex;
  gap: var(--spacing-1, 4px);
  align-items: center;
  width: fit-content;
  font-size: var(--font-size-2, 11px);
  color: var(--overlay-70);
  text-decoration: none;
}

.backLink:hover {
  color: var(--global-foreground);
}

.backIcon {
  width: var(--spacing-4, 16px);
  height: var(--spacing-4, 16px);
}
