.tableSection {
  display: grid;
  grid-auto-rows: auto;
  gap: var(--spacing-3);
  padding: var(--spacing-4);
  background-color: var(--pane-background);
}

.commentSection {
  min-height: 64px;
  padding: var(--spacing-2);
  background-color: var(--pane-muted-background);
}

.before {
  grid-area: before;
}

.after {
  grid-area: after;
}

.divider {
  border-color: var(--pane-border);
}

.columnSection {
  display: grid;
  grid-auto-rows: auto;
  gap: var(--spacing-6);
}

.columnTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.columnTriggerIcon {
  width: 1rem;
  height: 1rem;
}
