.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-2);
  border-bottom: 1px solid var(--global-border);
}

.list {
  display: flex;
  gap: var(--spacing-2);
}
