.agentsContainer {
  display: flex;
  gap: var(--spacing-6);
  align-items: center;
}

.agentWrapper {
  text-align: center;
}

.agentLabel {
  margin-top: var(--spacing-2);
  font-size: 0.75rem;
}

.sizesContainer {
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
}
