.alertWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-2);
  border-radius: var(--border-radius-base);
  padding: var(--spacing-2);
  margin: var(--spacing-2) 0;
}

.alertHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  min-height: 24px;
  gap: var(--spacing-1);
}

.alertIcon {
  font-size: var(--font-size-3);
  line-height: 1;
  min-width: 20px;
  text-align: center;
}

.alertLabel {
  font-weight: 500;
  font-size: var(--font-size-3);
  line-height: 1.6;
  color: var(--global-body-text);
}

.alertContentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.errorContent {
  font-size: var(--font-size-4);
  line-height: 1.5;
  color: var(--global-body-text);
}

.errorDisplay {
  background-color: var(--severity-critical-20);
  border: 1px solid var(--severity-critical-5);
}

.errorDisplayLabel {
  color: var(--severity-critical-1);
}
